body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    color: #768C9B;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.orange {
    color: #FF9C01;
}

.title-after {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #000000;
    text-transform: uppercase;
}

.title-after::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 8px;
}